body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f6f8f7;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}


.main {
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  height: 80vh;
}

.col-3{
  background: #e4e4e4;
  height: 100vh;
}

.userTitle {
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}


::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

/* .result .card {
  float: right;
  width: 100%;
  height: 100vh;
}

.userMenu {
  width: 100%;
  height: 90vh;
}

.menuHeader {
  background: #fafafa;
}

/* .expressionTab{
  background: #fafafa;
} */

/* .mainWindow {
  width: 100%;
  height: 100vh;
} 

.border-right {
  border-right: 0.5px solid rgb(238, 235, 235);
  top: 0;
  height: 100vh;
} */

