<div class="card">
    <div class="card-body">
        {{!-- {{#if isSignupActive}}
        <div class="signup">
            <form action="/signup" method="POST" class="signup">
                <input name="username" class="form-control" type="username" placeholder="username" />
                <br>
                <input name="password" class="form-control" type="password" placeholder="password" />
                <br>
                <button class="form-control btn btn-light-green">Signup</button>
            </form>
            <br>
            <hr>
            <br>
            <a class="form-control btn btn-cyan" href="/login">Login</a>
        </div>
        {{else}} --}}
        <div class="login">
            <form action="/login" method="POST">
                <input name="username" class="form-control" type="username" placeholder="username" />
                <br>
                <input name="password" class="form-control" type="password" placeholder="password" />
                <br>
                <button class="btn btn-light-green btn-block">Login</button>
            </form>
            <br>
            {{!-- <hr>
            <br>
            <a class="form-control btn btn-cyan" href="/signup">Signup</a> --}}
        </div>
        {{!-- {{/if}} --}}
    </div>
</div>