<div class="myForm">
    <div class="row">
        <div class="col-8">
            <div class="stemmer">
                <form action="/stemmer" method="POST">
                    <div class="row">
                        <div class="col-9">
                            <input name="string" class="form-control" type="text" placeholder="value" />
                        </div>
                        <div class="col-3">
                            <button class="form-control btn btn-success">Stemmer</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="stringdistance">
                <form action="/stringdistance" method="POST">
                    <div class="row">
                        <div class="col-9">
                            <input name="stringdistance1" class="form-control" type="text" placeholder="text 1" />
                            <br>
                            <input name="stringdistance2" class="form-control" type="text" placeholder="text 2" />
                        </div>
                        <div class="col-3">
                            <button class="form-control btn btn-success">String Distance</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="tokenize">
                <form action="/tokenize" method="POST">
                    <div class="row">
                        <div class="col-9">
                            <input name="string" class="form-control" type="text" placeholder="String" />
                        </div>
                        <div class="col-3">
                            <button class="form-control btn btn-success">Tokenize</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="classifier">
                <form action="/classifier" method="POST">
                    <div class="row">
                        <div class="col-9">
                            <input name="string" class="form-control" type="text" placeholder="String" />
                        </div>
                        <div class="col-3">
                            <button class="form-control btn btn-success">Classify</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="sentiments">
                <form action="/sentiments" method="POST">
                    <div class="row">
                        <div class="col-9">
                            <input name="string" class="form-control" type="text" placeholder="String" />
                        </div>
                        <div class="col-3">
                            <button class="form-control btn btn-success">Sentiments</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="result">
                <div class="card">
                    <div class="card-body">
                        <p>{{result}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>