<div class="myForm">
    <div class="row">
        <div class="col-3">
            <div class="row userTitle">
                Naveen
            </div>
            <hr>
            <div class="userMenu">
                <a href="/#" class="btn btn-info">Intents</a>
                <a href="/#" class="btn btn-info">Entity</a>
            </div>
        </div>
        <div class="col-6">
            <div class="card mainWindow">
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-9">
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="text" placeholder="Name your intent"
                                        aria-label="intent">
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-info">Save</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <div class="md-form active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Type your expression" aria-label="expression">
                </div>
            </div>
        </div>
    </div>
</div>